<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div style="text-align:center">
        <h1>
          AppComponent
        </h1>

        <hr />
        <!--<div class="app-servers">
          This div has the app-servers class and corresponds to .app-servers in the ts file
        </div>-->

        <!--<div app-servers>
          This div has the app-servers attibute and corresponds to [app-servers] in the ts file
        </div>-->
        <app-servers></app-servers>
    </div>
  </div>
</div>
